/* Global Styles */
	body {
		position: relative; /* Needed for ScrollSpy */
	}

/* Examples Styles */
	#examples {
		padding-bottom: 40rem;
	}
	.example__rendered--active {
		border-bottom-width: 1px;
	}
	.example__container {
		margin-top: 4rem;
	}
	.example__heading {
		font-size: 2rem;
		padding-bottom: .5rem;
		display: block;
		font-weight: 300;
		color: #bbb;
	}
	.example__rendered {
		padding: 1rem;
		border: 1px solid #eee;
		border-radius: 4px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-width: 0;
	}
	.example__code {
		border: 1px solid #eee;
		border-radius: 4px !important;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		max-height: 0;
		overflow: hidden;
		border-bottom-width: 0;
	}
	.example__code--active {
		max-height:5000px;
		border-bottom-width: 1px;
	}
	a.show-code {
		font-size: .8rem;
		margin-left: 1rem;
		color: #ec971f !important;
		font-weight: 400;
		text-decoration: underline !important;
		cursor: pointer;
		-webkit-touch-callout: none;   /* iOS Safari */
		    -webkit-user-select: none; /* Safari */
		    -khtml-user-select: none;  /* Konqueror HTML */
		    -moz-user-select: none;    /* Firefox */
		    -ms-user-select: none;     /* Internet Explorer/Edge */
		    user-select: none;         /* Non-prefixed version, currently
		                                  supported by Chrome and Opera */
	}
	.show-code .hide-label {
		display: none;
	}
	.show-code--active .show-label {
		display: none;
	}
	.show-code--active .hide-label {
		display: inline;
	}
	pre {
		margin-bottom: 0;
	}
	pre code {
		padding: 0 1rem !important;
		white-space: pre-wrap;
	}
	
/* Navigation Styles */
	#styleguide-navigation {
		position: fixed;
		top: 2rem;
		padding-left: 1rem;
	    margin-left: 1rem;
	    border-left: 1px solid #efefef;
	    padding-top: 2rem;
	}
	#styleguide-navigation .nav-tabs {
		border: 0;
		margin-bottom: 2rem;
	}
	#styleguide-navigation h5 {
		font-size: 1rem;
	}
	#styleguide-navigation .nav-sublist,
	#styleguide-navigation li {
		display: block;
		width: 100%;
	}
	#styleguide-navigation .nav-link.active {
	    color: inherit;
	    background-color: rgba(0,0,0,0.025);
	    border: 0;
	    border-radius: 0;
	}
	#styleguide-navigation .nav-link,
	#styleguide-navigation .nav-link:hover {
	    border: 0;
	}